div#scatterplot-filters {
	display: none;
}
div#circle-filters {
	display: none;
}
div#donut-filters {
	display: none;
}
.link {
stroke: gray;
stroke-width: .8px;
}
.node {
fill: gray;
stroke: gray;
stroke-width: .9px;
}
.node:hover {
fill: black;
}