body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}


path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: grey;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.y-age.axis line, .y-age.axis path {
  fill: none;
  stroke: #000;
}
.spacer{
  margin-top: 150px;
}
.sm-spacer{
  margin-top: 50px;
}
.label
{
  background: grey;
}